# PC Lab #4 - Group 8 - Bubu, Benedikt, Berkant

## Task #1 : Basic manipulation and descriptive statistics

 Import the Data_PCLab4_Stock_Price.csv data and the
 Data_PCLab4_Stock_Volume.csv

In [3]:
import pandas as pd

price_df = pd.read_csv(r"C:/Users/frien/OneDrive/Desktop/Bocconi/Finance with Big Data/PC labs/Data_PCLab4_Stock_Price.csv")

volume_df = pd.read_csv(r"C:/Users/frien/OneDrive/Desktop/Bocconi/Finance with Big Data/PC labs/Data_PCLab4_Stock_Volume.csv")

# Print
print(price_df.head(10))
print(volume_df.head(10))

         Date       AAPL         BA          T    MGM        AMZN         IBM  \
0  2012-01-12  60.198570  75.510002  30.120001  12.13  175.929993  180.550003
1  2012-01-13  59.972858  74.599998  30.070000  12.35  178.419998  179.160004
2  2012-01-17  60.671429  75.239998  30.250000  12.25  181.660004  180.000000
3  2012-01-18  61.301430  75.059998  30.330000  12.73  189.440002  181.070007
4  2012-01-19  61.107143  75.559998  30.420000  12.80  194.449997  180.520004
5  2012-01-20  60.042858  75.519997  30.510000  12.64  190.929993  188.520004
6  2012-01-23  61.058571  75.510002  30.400000  13.14  186.089996  189.979996
7  2012-01-24  60.058571  75.360001  30.090000  13.16  187.000000  191.929993
8  2012-01-25  63.808571  75.820000  30.209999  13.11  187.800003  191.729996
9  2012-01-26  63.518570  75.309998  29.450001  13.05  193.320007  190.979996

        TSLA        GOOG        sp500
0  28.250000  313.644379  1295.500000
1  22.790001  311.328064  1289.089966
2  26.600000  313.116364  1293.670044
3  26.809999  315.273285  1308.040039
4  26.760000  318.590851  1314.500000
5  26.600000  291.900879  1315.380005
6  26.770000  291.666748  1316.000000
7  27.420000  289.380341  1314.650024
8  27.969999  283.681702  1326.060059
9  28.940001  282.989288  1318.430054
         Date       AAPL        BA         T       MGM     AMZN       IBM  \
0  2012-01-12   53146800   3934500  26511100  17891100  5385800   6881000
1  2012-01-13   56505400   4641100  22096800  16621800  4753500   5279200
2  2012-01-17   60724300   3700100  23500200  15480800  5644500   6003400
3  2012-01-18   69197800   4189500  22015000  18387600  7473500   4600600
4  2012-01-19   65434600   5397300  25524000  14022900  7096000   8567200
5  2012-01-20  103493600   4552300  26445100  13045100  5610300  12849700
6  2012-01-23   76515600   4083700  19186300  16764000  4585300   5751700
7  2012-01-24  136909500   4942700  24341100  11625500  4673800   5345700
8  2012-01-25  239578500  14049100  28136800  14149600  4306400   4359700
9  2012-01-26   80996300   4187400  56003200  13672700  5873600   4004700

      TSLA      GOOG       sp500
0   729300   3764400  4019890000
1  5500400   4631800  3692370000
2  4651600   3832800  4010490000
3  1260200   5544000  4096160000
4  1246300  12657800  4465890000
5   662300  21231800  3912620000
6   594600   6851300  3770910000
7   858000   6134400  3693560000
8   611200  10012700  4410910000
9  1271100   6476500  4522070000

Describe the sample :
- What is the average trading volume for Apple stock?
- What is the maximum trading volume for S&P500?
- Which security is traded the most? Comment on your answer

In [9]:
price_stats = price_df.describe()

price_stats

,AAPL,BA,T,MGM,AMZN,IBM,TSLA,GOOG,sp500
count,2159.000000,2159.000000,2159.000000,2159.000000,2159.000000,2159.000000,2159.000000,2159.000000,2159.000000
mean,140.819823,189.942700,35.162899,23.105743,915.665665,161.853001,259.600815,783.712512,2218.749554
std,70.827601,103.678586,3.207490,6.963847,697.838905,25.561938,210.988003,334.448057,537.321727
min,55.790001,67.239998,26.770000,7.140000,175.929993,94.769997,22.790001,278.481171,1278.040039
25%,89.165714,124.015000,33.040001,18.545000,316.490005,142.769997,184.595001,527.214416,1847.984985
50%,116.599998,142.419998,34.930000,23.780001,676.010010,156.949997,231.960007,737.599976,2106.629883
75%,175.019997,297.044998,37.419998,28.430000,1593.645019,185.974998,307.350006,1079.744995,2705.810059
max,455.609985,440.619995,43.470001,38.029999,3225.000000,215.800003,1643.000000,1568.489990,3386.149902

In [10]:
volume_stats = volume_df.describe()

volume_stats

,AAPL,BA,T,MGM,AMZN,IBM,TSLA,GOOG,sp500
count,2.159000e+03,2.159000e+03,2.159000e+03,2.159000e+03,2.159000e+03,2.159000e+03,2.159000e+03,2.159000e+03,2.159000e+03
mean,5.820332e+07,6.419916e+06,2.832131e+07,9.845582e+06,4.102673e+06,4.453090e+06,7.001302e+06,2.498238e+06,3.680732e+09
std,4.568141e+07,9.711873e+06,1.428911e+07,7.295753e+06,2.290722e+06,2.462811e+06,5.781208e+06,1.928407e+06,8.622717e+08
min,1.136200e+07,7.889000e+05,6.862400e+06,9.507000e+05,8.813000e+05,1.193000e+06,3.649000e+05,7.900000e+03,1.248960e+09
25%,2.769930e+07,3.031850e+06,2.002150e+07,5.796450e+06,2.675700e+06,3.111250e+06,3.433450e+06,1.325400e+06,3.211890e+09
50%,4.209420e+07,3.991000e+06,2.485930e+07,7.899800e+06,3.494800e+06,3.825000e+06,5.581100e+06,1.813900e+06,3.526890e+09
75%,7.182480e+07,5.325900e+06,3.210565e+07,1.104055e+07,4.768150e+06,4.937300e+06,8.619550e+06,3.245350e+06,3.933290e+09
max,3.765300e+08,1.032128e+08,1.950827e+08,9.009820e+07,2.385610e+07,3.049020e+07,6.093880e+07,2.497790e+07,9.044690e+09

Create a graph from these. (include mode)

Plot the time series of volumes for all stocks (raw and normalized)

Is there a correlation between change in prices (returns) and change in volumes?

## Task #2 : Train and Test samples + Ridge regression

Concatenate the date, stock price, and volume in one dataframe

 Tip : scale the data
 from sklearn.preprocessing import MinMaxScaler
 sc = MinMaxScaler(feature_range = (0, 1))
 training_set_scaled = sc.fit_transform(training_data)